<!DOCTYPE html>
<html ng-app="dutilsApp">
   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Download Utils Manager</title>
    
      	{% block stylesheets %}
      	
      	  {% stylesheets  output="css/all.css"
      	  	'@bootstrap_css'
    		'@MorenwareDutilsBundle/Resources/public/css/plugins/metisMenu/metisMenu.css'
    		'@MorenwareDutilsBundle/Resources/public/css/sb-admin-2.css'
    		'@MorenwareDutilsBundle/Resources/public/css/main.css'
		   %}
      	
      	    <link href="{{ asset_url }}" rel="stylesheet" />        
            
          {% endstylesheets %}   
          
          <link href="{{ asset('client/font-awesome-4.1.0/css/font-awesome.min.css') }}" rel="stylesheet" />
            
        {% endblock %}


	 <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
    <body>
       <div id="wrapper">

		{% include 'MorenwareDutilsBundle::nav.html.twig' %}
		
        <div id="page-wrapper">
      		  {% block body %}{% endblock %}
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    {% block javascripts  %}
       
	    <script type="text/javascript" src="{{ asset('client/js/lib/jquery.js') }}"></script>
	    <script type="text/javascript" src="{{ asset('client/js/lib/bootstrap.min.js') }}"></script>
	    <script type="text/javascript" src="{{ asset('client/js/plugins/metisMenu/metisMenu.min.js') }}"></script>
	    <script type="text/javascript" src="{{ asset('client/js/sb-admin-2.js') }}"></script>
		
		<script type="text/javascript" src="{{ asset('client/js/app/init.js') }}"></script>
	   
    {% endblock %}

</html>